.head{
	width: 100%;
	height: 150px;
	/*background-color: red;*/
	border: 3px solid grey;
}
.center{
	border: 3px solid grey;

}
.footer{
	width: 100%;
	height: 150px;
	/*background-color: grey;*/
	border: 3px solid grey;
	color: white;
}
