.head{
	width: 80%;
	height: 150px;
	background-color: white;
	margin: 0 auto;
	margin-top: 25px;
	padding-top: 15px;
}
.logo{
	font-size: 100px;
	font-style: italic;
	font-weight: 900;
	line-height: 100px;
	font-family: sans-serif;
	margin-left: 50px;
}
.right-menu{
	margin: 14px 0 16px;

}
.right-menu ul li{
	display: inline;
	border-right: 1px solid;
	color: #777777;
}
.menu-element{
	padding: 20px;
	font-family: sans-serif;
}
.search-box{
	padding-left: 60px;
	position: relative;
	width:240px;
}
.search-box input {
	border:none: background:#fff;
	display:block; width: 100%; 
	box-sizing: border-box;
	width: 400px;
	height: 40px;
	padding-left: 15px;
}
.search-box img {
	position: absolute;
	top: 5px;
	right: -210px;
	border-left: 1px solid;
	padding-left: 5px;
}

.left{
	width: 20%;
	height: 500px;
	background-color: green;
	float: left;
}
.center{
	border: 3px solid grey;

}
.footer{
	width: 100%;
	height: 150px;
	/*background-color: grey;*/
	border: 3px solid grey;
	color: white;
}

/* News Page*/
.news{
	display: none;	
}
.news-header{
	font-weight: 600;
	font-size: 29px;
	line-height: 50px;
	margin-bottom: 0;
}
.no-margin{
	margin: 0!important;
}
.no-padding:{
	padding: 0!important;
}
.hr{
	border-top: 4px solid #e1e1e1;	
}
img{
	max-height: 100%;
	max-width: 100%;
}	
.news-category{
	background-color: black;
	color: white;
	font-weight: 900;
	font-size: 12px;
	padding: 3px;
}
.news-information-header{
	font-weight: 600;
	color: black;
	font-size: 17px;
}
.news-information-detail{
	font-size: 12px;	
	font-family: 'Roboto', sans-serif;

}
.news-information-addon span{
	margin-right: 5%;
	font-size: 12px;
}
.news-items{
	border-bottom: solid 1px #e1e1e1;
	margin-top: 3%;
}
.news-items-category{
	margin: 3% 0 0 0;
}
.news-items-category span{
	line-height: 25px;
	color: #777777;
	font-size: 12px;
	padding-bottom: 9px;
}
.news-items-category a{
	color: #777777!important;
	text-decoration: none!important;
	cursor: pointer;
}
/*.news-items-category a:hover{
	font-weight: 600;
	font-style: italic;
	transition: 0.1s;
}*/
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
