<div class="home">
	<div class="col-md-6">
		<div class="home-banner">		
			<img src="assets/2.jpg">
			<div class="home-banner-slogan">
				<hr>
				<a>Lorem ipsum dolor sit amet conse ctetur adipisicing sed do eiusmod</a>
				<br>
				<span class="glyphicon glyphicon-time"> 20 Oct 2014  </span>	
				<span class="glyphicon glyphicon-cloud"> 0</span>
			</div>		
		</div>
		<div class="home-small-banners">
			<div class="col-md-6 home-small-banner">
				<img src="assets/2.jpg">
				<div class="home-small-banner-slogan">
					<a>Lorem ipsum dolor sit amet conse ctetur adipisicing sed do eiusmod</a>
					<br>
					<span class="glyphicon glyphicon-time"> 20 Oct 2014  </span>	
					<span class="glyphicon glyphicon-cloud"> 0 </span> 
				</div>
			</div>
			<div class="col-md-6 home-small-banner home-small-banner-left">
				<img src="assets/2.jpg">
				<div class="home-small-banner-slogan">
					<a>Lorem ipsum dolor sit amet conse ctetur adipisicing sed do eiusmod</a>
					<br>
					<span class="glyphicon glyphicon-time"> 20 Oct 2014  </span>	
					<span class="glyphicon glyphicon-cloud"> 0 </span> 
				</div>
			</div>
		</div>
		<div>
			<p class="news-header">Lastest News</p>
			<hr class="hr no-margin">
		</div>	
		<dir class="lastest-news">
			<div class="row news-items">
				<div class="col-md-4 news-image">
					<img src="assets/1.jpg">
				</div>
				<div class="col-md-8 news-information">
					<span class="news-category">TECHNOLOGY</span> <br> <a href="#"
						class="news-information-header">Tortor non enim aliquet
						condimentum nam aliquam pretium feugiat uis sem est viverra eu
						interdum ac </a>
					<p class="news-information-detail">Duis sem est, viverra eu
						interdum ac, suscipit nec mauris. Suspendisse commodo tempor
						sagittis! In justo est, sollicitudin eu scelerisque pretium,
						placerat eget elit. Praesent faucibus rutrum odio at rhoncus.
						Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac
						lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
					<div class="news-information-addon">
						<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
						<span class="glyphicon glyphicon-user"> Super User </span> 
						<span class="glyphicon glyphicon-cloud"> 3 </span>
					</div>
					<br>
				</div>
			</div>
			<div class="row news-items">
				<div class="col-md-4 news-image">
					<img src="assets/1.jpg">
				</div>
				<div class="col-md-8 news-information">
					<span class="news-category">TECHNOLOGY</span> <br> <a href="#"
						class="news-information-header">Tortor non enim aliquet
						condimentum nam aliquam pretium feugiat uis sem est viverra eu
						interdum ac </a>
					<p class="news-information-detail">Duis sem est, viverra eu
						interdum ac, suscipit nec mauris. Suspendisse commodo tempor
						sagittis! In justo est, sollicitudin eu scelerisque pretium,
						placerat eget elit. Praesent faucibus rutrum odio at rhoncus.
						Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac
						lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
					<div class="news-information-addon">
						<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
						<span class="glyphicon glyphicon-user"> Super User </span> 
						<span class="glyphicon glyphicon-cloud"> 3 </span>
					</div>
					<br>
				</div>
			</div>
			<div class="row news-items">
				<div class="col-md-4 news-image">
					<img src="assets/1.jpg">
				</div>
				<div class="col-md-8 news-information">
					<span class="news-category">TECHNOLOGY</span> <br> <a href="#"
						class="news-information-header">Tortor non enim aliquet
						condimentum nam aliquam pretium feugiat uis sem est viverra eu
						interdum ac </a>
					<p class="news-information-detail">Duis sem est, viverra eu
						interdum ac, suscipit nec mauris. Suspendisse commodo tempor
						sagittis! In justo est, sollicitudin eu scelerisque pretium,
						placerat eget elit. Praesent faucibus rutrum odio at rhoncus.
						Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac
						lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
					<div class="news-information-addon">
						<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
						<span class="glyphicon glyphicon-user"> Super User </span> 
						<span class="glyphicon glyphicon-cloud"> 3 </span>
					</div>
					<br>
				</div>
			</div>
			<div class="row news-items">
				<div class="col-md-4 news-image">
					<img src="assets/1.jpg">
				</div>
				<div class="col-md-8 news-information">
					<span class="news-category">TECHNOLOGY</span> <br> <a href="#"
						class="news-information-header">Tortor non enim aliquet
						condimentum nam aliquam pretium feugiat uis sem est viverra eu
						interdum ac </a>
					<p class="news-information-detail">Duis sem est, viverra eu
						interdum ac, suscipit nec mauris. Suspendisse commodo tempor
						sagittis! In justo est, sollicitudin eu scelerisque pretium,
						placerat eget elit. Praesent faucibus rutrum odio at rhoncus.
						Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac
						lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
					<div class="news-information-addon">
						<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
						<span class="glyphicon glyphicon-user"> Super User </span> 
						<span class="glyphicon glyphicon-cloud"> 3 </span>
					</div>
					<br>
				</div>
			</div>
			<a href="#" class="home-info-see-all">See all</a>
		</dir>
	</div>
	<div class="col-md-4 right">
		<h1><b>Popular</b></h1>
		<div class="row news-items">
			<div class="col-md-4 news-image">
				<img src="assets/1.jpg">
			</div>
			<div class="col-md-8 news-information">
				<span class="news-category">TECHNOLOGY</span> <br> 
				<a href="#" class="news-information-header">Tortor non enim aliquet
				condimentum nam aliquam</a>
				<div class="news-information-addon">
					<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
					<span class="glyphicon glyphicon-user"> Super User </span> 
					<span class="glyphicon glyphicon-cloud"> 3 </span>
				</div>
				<br>
			</div>
		</div>

		<div class="row news-items">
			<div class="col-md-4 news-image">
				<img src="assets/1.jpg">
			</div>
			<div class="col-md-8 news-information">
				<span class="news-category">TECHNOLOGY</span> <br> 
				<a href="#" class="news-information-header">Tortor non enim aliquet
				condimentum nam aliquam</a>
				<div class="news-information-addon">
					<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
					<span class="glyphicon glyphicon-user"> Super User </span> 
					<span class="glyphicon glyphicon-cloud"> 3 </span>
				</div>
				<br>
			</div>
		</div>

		<div class="row news-items">
			<div class="col-md-4 news-image">
				<img src="assets/1.jpg">
			</div>
			<div class="col-md-8 news-information">
				<span class="news-category">TECHNOLOGY</span> <br> 
				<a href="#" class="news-information-header">Tortor non enim aliquet
				condimentum nam aliquam</a>
				<div class="news-information-addon">
					<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
					<span class="glyphicon glyphicon-user"> Super User </span> 
					<span class="glyphicon glyphicon-cloud"> 3 </span>
				</div>
				<br>
			</div>
		</div>
		<a href="#" class="see-all-link">See all</a>
		<div class="lastest-new-right">
			<img src="assets/3.jpg" width="370px" height="280px">
		</div>

		<h1><b>Featured</b></h1>
		<div class="row news-items">
			
			<div class="col-md-8 news-information">
				<span class="news-category">TECHNOLOGY</span> <br> 
				<a href="#" class="news-information-header">Tortor non enim aliquet
				condimentum nam aliquam</a>
				<div class="news-information-addon">
					<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
					<span class="glyphicon glyphicon-user"> Super User </span> 
					<span class="glyphicon glyphicon-cloud"> 3 </span>
				</div>
				<br>
			</div>
		</div>

		<div class="row news-items">
			
			<div class="col-md-8 news-information">
				<span class="news-category">TECHNOLOGY</span> <br> 
				<a href="#" class="news-information-header">Tortor non enim aliquet
				condimentum nam aliquam</a>
				<div class="news-information-addon">
					<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
					<span class="glyphicon glyphicon-user"> Super User </span> 
					<span class="glyphicon glyphicon-cloud"> 3 </span>
				</div>
				<br>
			</div>
		</div>

		<div class="row news-items">
			
			<div class="col-md-8 news-information">
				<span class="news-category">TECHNOLOGY</span> <br> 
				<a href="#" class="news-information-header">Tortor non enim aliquet
				condimentum nam aliquam</a>
				<div class="news-information-addon">
					<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
					<span class="glyphicon glyphicon-user"> Super User </span> 
					<span class="glyphicon glyphicon-cloud"> 3 </span>
				</div>
				<br>
			</div>
		</div>
		<a href="#" class="see-all-link">See all</a>
	</div>
	<div class="col-md-2 advertisement" style="background-image: url('assets/4.jpg'); background-repeat: no-repeat; background-color: black; height: 700px">
		<!-- <img src="assets/4.jpg" style="z-index: -1"> -->
		<p>abc xyz</p>
	</div>
</div>