<div class="home">
	<div class="col-md-6">
		<div class="banner">		
			<img src="assets/2.jpg">
			<span class="slogan">KHOA KHUNG DIEN VA DUC OC CHO</span>
		</div>
	</div>
	<div class="col-md-6 right">
		<h1>Popular</h1>
		<div class="row news-items">
			<div class="col-md-4 news-image">
				<img src="assets/1.jpg">
			</div>
			<div class="col-md-8 news-information">
				<span class="news-category">TECHNOLOGY</span> <br> 
				<a href="#" class="news-information-header">Tortor non enim aliquet
				condimentum nam aliquam</a>
				<div class="news-information-addon">
					<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
					<span class="glyphicon glyphicon-user"> Super User </span> 
					<span class="glyphicon glyphicon-cloud"> 3 </span>
				</div>
				<br>
			</div>
		</div>

		<div class="row news-items">
			<div class="col-md-4 news-image">
				<img src="assets/1.jpg">
			</div>
			<div class="col-md-8 news-information">
				<span class="news-category">TECHNOLOGY</span> <br> 
				<a href="#" class="news-information-header">Tortor non enim aliquet
				condimentum nam aliquam</a>
				<div class="news-information-addon">
					<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
					<span class="glyphicon glyphicon-user"> Super User </span> 
					<span class="glyphicon glyphicon-cloud"> 3 </span>
				</div>
				<br>
			</div>
		</div>

		<div class="row news-items">
			<div class="col-md-4 news-image">
				<img src="assets/1.jpg">
			</div>
			<div class="col-md-8 news-information">
				<span class="news-category">TECHNOLOGY</span> <br> 
				<a href="#" class="news-information-header">Tortor non enim aliquet
				condimentum nam aliquam</a>
				<div class="news-information-addon">
					<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
					<span class="glyphicon glyphicon-user"> Super User </span> 
					<span class="glyphicon glyphicon-cloud"> 3 </span>
				</div>
				<br>
			</div>
		</div>
		<a href="#" class="see-all-link">See all</a>
		<div class="lastest-new-right">
			<img src="assets/3.jpg" width="370px" height="280px">
		</div>
	</div>
</div>