<div class="news">
	<div class="col-md-8">
		<div>
			<p class="news-header">News</p>
			<hr class="hr no-margin">
		</div>
	 	<div class="row items">
			<div class="col-md-4 news-image">
				<img src="assets/1.jpg">
			</div>
			<div class="col-md-8 news-information">
				<span class="news-category">TECHNOLOGY</span> <br> <a href="#"
					class="news-information-header">Tortor non enim aliquet
					condimentum nam aliquam pretium feugiat uis sem est viverra eu
					interdum ac </a>
				<p class="news-information-detail">Duis sem est, viverra eu
					interdum ac, suscipit nec mauris. Suspendisse commodo tempor
					sagittis! In justo est, sollicitudin eu scelerisque pretium,
					placerat eget elit. Praesent faucibus rutrum odio at rhoncus.
					Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac
					lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
				<div class="news-information-addon">
					<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
					<span class="glyphicon glyphicon-user"> Super User </span> 
					<span class="glyphicon glyphicon-cloud"> 3 </span>					
				</div>
				<br>
			</div>
		</div>

		<div class="row items">
			<div class="col-md-4 news-image">
				<img src="assets/1.jpg">
			</div>
			<div class="col-md-8 news-information">
				<span class="news-category">TECHNOLOGY</span> <br> <a href="#"
					class="news-information-header">Tortor non enim aliquet
					condimentum nam aliquam pretium feugiat uis sem est viverra eu
					interdum ac </a>
				<p class="news-information-detail">Duis sem est, viverra eu
					interdum ac, suscipit nec mauris. Suspendisse commodo tempor
					sagittis! In justo est, sollicitudin eu scelerisque pretium,
					placerat eget elit. Praesent faucibus rutrum odio at rhoncus.
					Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac
					lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
				<div class="news-information-addon">
					<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
					<span class="glyphicon glyphicon-user"> Super User </span> 
					<span class="glyphicon glyphicon-cloud"> 3 </span>
				</div>
				<br>
			</div>
		</div>
		
		<div class="row items">
			<div class="col-md-4 news-image">
				<img src="assets/1.jpg">
			</div>
			<div class="col-md-8 news-information">
				<span class="news-category">TECHNOLOGY</span> <br> <a href="#"
					class="news-information-header">Tortor non enim aliquet
					condimentum nam aliquam pretium feugiat uis sem est viverra eu
					interdum ac </a>
				<p class="news-information-detail">Duis sem est, viverra eu
					interdum ac, suscipit nec mauris. Suspendisse commodo tempor
					sagittis! In justo est, sollicitudin eu scelerisque pretium,
					placerat eget elit. Praesent faucibus rutrum odio at rhoncus.
					Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac
					lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
				<div class="news-information-addon">
					<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
					<span class="glyphicon glyphicon-user"> Super User </span> 
					<span class="glyphicon glyphicon-cloud"> 3 </span>
				</div>
				<br>
			</div>
		</div>
		
	</div>
	<div class="col-md-4">
		<div>
			<p class="news-header">Categories</p>
			<hr class="hr no-margin">
		</div>
	</div>
</div>