<div class="news">
	<div>
		<div class="space"></div>	
		<div class="col-md-8">
			<div>
				<p class="news-header">News</p>
				<hr class="hr no-margin">
			</div>
		 	<div class="row news-items">
				<div class="col-md-4 news-image">
					<img src="assets/1.jpg">
				</div>
				<div class="col-md-8 news-information">
					<span class="news-category">TECHNOLOGY</span> <br> <a href="#"
						class="news-information-header">Tortor non enim aliquet
						condimentum nam aliquam pretium feugiat uis sem est viverra eu
						interdum ac </a>
					<p class="news-information-detail">Duis sem est, viverra eu
						interdum ac, suscipit nec mauris. Suspendisse commodo tempor
						sagittis! In justo est, sollicitudin eu scelerisque pretium,
						placerat eget elit. Praesent faucibus rutrum odio at rhoncus.
						Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac
						lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
					<div class="news-information-addon">
						<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
						<span class="glyphicon glyphicon-user"> Super User </span> 
						<span class="glyphicon glyphicon-cloud"> 3 </span>					
					</div>
					<br>
				</div>
			</div>

			<div class="row news-items">
				<div class="col-md-4 news-image">
					<img src="assets/1.jpg">
				</div>
				<div class="col-md-8 news-information">
					<span class="news-category">TECHNOLOGY</span> <br> <a href="#"
						class="news-information-header">Tortor non enim aliquet
						condimentum nam aliquam pretium feugiat uis sem est viverra eu
						interdum ac </a>
					<p class="news-information-detail">Duis sem est, viverra eu
						interdum ac, suscipit nec mauris. Suspendisse commodo tempor
						sagittis! In justo est, sollicitudin eu scelerisque pretium,
						placerat eget elit. Praesent faucibus rutrum odio at rhoncus.
						Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac
						lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
					<div class="news-information-addon">
						<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
						<span class="glyphicon glyphicon-user"> Super User </span> 
						<span class="glyphicon glyphicon-cloud"> 3 </span>
					</div>
					<br>
				</div>
			</div>
			
			<div class="row news-items">
				<div class="col-md-4 news-image">
					<img src="assets/1.jpg">
				</div>
				<div class="col-md-8 news-information">
					<span class="news-category">TECHNOLOGY</span> <br> <a href="#"
						class="news-information-header">Tortor non enim aliquet
						condimentum nam aliquam pretium feugiat uis sem est viverra eu
						interdum ac </a>
					<p class="news-information-detail">Duis sem est, viverra eu
						interdum ac, suscipit nec mauris. Suspendisse commodo tempor
						sagittis! In justo est, sollicitudin eu scelerisque pretium,
						placerat eget elit. Praesent faucibus rutrum odio at rhoncus.
						Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac
						lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>
					<div class="news-information-addon">
						<span class="glyphicon glyphicon-time"> 02 May 2014 </span> 
						<span class="glyphicon glyphicon-user"> Super User </span> 
						<span class="glyphicon glyphicon-cloud"> 3 </span>
					</div>
					<br>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div>
				<p class="news-header">Categories</p>
				<hr class="hr no-margin">
			</div>
			<div class="row news-items-category">
				<span class="glyphicon glyphicon-chevron-right"/><a> Donec eu elit in nisi</a><br>
				<span class="glyphicon glyphicon-chevron-right"/><a> In neque arcu vulputate</a><br>
				<span class="glyphicon glyphicon-chevron-right"/><a> Quisque gravida purus vitae</a><br>
				<span class="glyphicon glyphicon-chevron-right"/><a> Vivamus luctus lectus sit</a><br>
				<span class="glyphicon glyphicon-chevron-right"/><a> Vivamus congue turpis in augue</a><br>
				<span class="glyphicon glyphicon-chevron-right"/><a> Curabitur eu dignissim velit</a><br>
			</div>
			<div>
				<p class="news-header">Archives</p>
				<hr class="hr no-margin">
			</div>
			<div class="row news-items-category">
				<section class="color-1">
					<nav class="cl-effect-1">
						<span class="glyphicon glyphicon-chevron-right"/><a> May, 2014</a><br>
						<span class="glyphicon glyphicon-chevron-right"/><a> April, 2014</a><br>
						<span class="glyphicon glyphicon-chevron-right"/><a> March, 2014</a><br>		
						<span class="glyphicon glyphicon-chevron-right"/><a> February, 2014</a><br>
						<span class="glyphicon glyphicon-chevron-right"/><a> January, 2014</a><br>
						<span class="glyphicon glyphicon-chevron-right"/><a> December, 2014</a><br>
						<span class="glyphicon glyphicon-chevron-right"/><a> November, 2014</a><br>
					</nav>
				</section>
			</div>	
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<nav aria-label="...">
				<ul class="pagination">
					<li class="page-item disabled"><a class="page-link" href="#"
						tabindex="-1" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
					</a></li>
					<li class="page-item active"><a class="page-link" href="#">1
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">4</a></li>
					<li class="page-item"><a class="page-link" href="#">5</a></li>
					<li class="page-item"><a class="page-link" href="#"
						aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
							class="sr-only">Next</span>
					</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-md-4"></div>
	</div>	
</div>